body {
  
}

#lists li{
  list-style-type: none;
  }

/* Student page */
.navbar-left{
  float: right;
  padding-right: 20px;
}

.students{
  
  text-decoration: underline;
  padding: 20px;
}

.btn{
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
}

/* Home page */
.navbar{
  text-align: center;
}

.btn-right{
  margin-left: 20px;
}

/* New Student Page */
.label{
  text-decoration: none;
}