/* Goole Fonts */
@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Roboto&display=swap');

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}


/* Utilites */
li{
  list-style-type: none;
}

.links{
  text-decoration: none;
  color:white;
  border-style: inset;
  padding: 0 .90rem;
  
}

.container-heading{
  background: gray;
  padding: 2rem;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  border-style: outset;
}


/* braulio */
/* code */


/* angeline */
/* code */



