/* Goole Fonts */
@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Roboto&display=swap');

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
body{
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  
}
li{
  list-style-type: none;
}

.links{
  text-decoration: none;
  color:white;
  border-style: inset;
  padding: 0 .90rem;
  
}

.container-heading{
  background: gray;
  padding: 2rem;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  border-style: outset;
}

.link_style .links{
  background: gray;
  padding: 1rem;
}

/* Braulio */
/* Campuses.js Box: All Campuses display info */
.container-allcampuses{
  display:flex;
  margin: 0.5rem 0.5rem;
  /* border-style: outset; */
}

.name-title{
  color: white;
}
.container-box{
  display: flex;
  background: grey;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border-style: inset;
}
.edit-button{
  margin-left: 10rem;
  padding: .2rem .9rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.delete-button{
  margin-left: 2rem;
  padding: .2rem .5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.container-header{
  display: flex;
  justify-content: space-between;
  /* margin: 1rem; */
  padding: 1rem 1rem;
  background: darkgray;
}
.add-campus{
  background:white;
  color:gray;
  padding: 0 .8rem;
  border-radius: .9rem;
  border-style: outset;
  cursor: pointer;

}

/* Box.js file */
.display-box{
  margin-left: 1.5rem;
}
.container-box-camp{
  display: flex;
}
.info{
  padding-top: 3rem;
  padding-bottom: 1rem;

}
.info, .campus{
  color: whitesmoke;
}
.campus{
  cursor: pointer;
}
.image{
  padding: 0 3rem;
}


/* .box{
  display: flex;
  background: gray;
} */




/* Angeline */




