/* Goole Fonts */
@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Roboto&display=swap');

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
body{
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  
}
li{
  list-style-type: none;
}

.links{
  text-decoration: none;
  background: white;
  color:gray;
  border-style: inset;
  padding: 0 .90rem;
}
.links:hover{
  font-size: 17px;
}

.container-heading{
  background: gray;
  padding: 2rem;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  border-style: outset;
}

.link_style .links{
  background: gray;
  padding: 1rem;
}

/* Braulio */
/* Campuses.js Box: All Campuses display info */

.container-allcampuses{
  background: darkgray;
}

.name-title{
  color: white;
}
/* .container-box{
  display: flex;
  background: grey;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border-style: inset;
} */

.container-header{
  display: flex;
  justify-content: space-between;
  /* margin: 1rem; */
  padding: 1rem 1rem;
  background: darkgray;
}
.add-campus{
  background:white;
  color:gray;
  padding: 0 .8rem;
  border-radius: .9rem;
  border-style: outset;
  cursor: pointer;

}

/* Box.js file */
.container-buttons{
  margin-top: 1rem;
}

.edit-button{
  /* margin-left: .2rem; */
  padding: .2rem .9rem;
  border-radius: 0.5rem;
  background: gray;
  color: white;
  border-style: outset solid;
  cursor: pointer;
}
.delete-button{
  background: gray;
  margin-left: 2rem;
  padding: .2rem .5rem;
  border-radius: 0.5rem;
  border-style: outset solid;
  color: white;
  cursor: pointer;
}

.container-box-camp{
  background: white;
  display: flex;
  margin: 1rem;
  border-style: inset solid;
  width: 40%;
}
.display-box{
  /* display: flex; */
  margin-left: 1.5rem;
}

.info{
  padding-top: 1rem;
  padding-bottom: 1rem;

}
.info, .campus{
  color: black
}
.campus{
  cursor: pointer;
}
.image{
  padding: .5rem ;
}


/* .box{
  display: flex;
  background: gray;
} */




/* Angeline */
