.box{
    display: flex;
    
}

/* student info */
.student-info{
    text-decoration: underline;
    padding:10px;
    
}

#student-name{
    padding:10px;
    margin:10px;
}

#student-email{
    padding:10px;
    margin: 10px;
}

#student-gpa{
    padding:10px;
    margin: 10px;
}
